body {
    background: #444;
    color: white;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    padding: 10px 5px;
  }
  
  button {
    margin-top: 20px;
  }